.project_div{
    padding-top: 70px;
    width: 100%;
}

.project_heading{
    font-size: 38px;
    text-align: center;
    margin-top: 30px;
    color: black;
    font-family: 'Martian Mono', monospace;
    font-weight: 400;
    text-shadow: 5px 5px 9px rgba(150, 150, 150, 1);
}


.project_box_img{
    padding: 0px;
    object-fit: contain;
}

.project_box_details{
    /*flex: 1;*/
    display: flex;
    align-items: center;
}

.project_box_name{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 25px;
}

.project_box_detail{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 20px; 
    text-align: left;
}

.project_box_btn{
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 20px; 
    margin-bottom: 30px;
}

.project_box_hr{
    margin-top: 30px;
    margin-bottom: 30px;
}

@media (min-width:0px) and (max-width:768px) {
    .project_div{
        text-align: center;
    }
}

.project_site_div{
    background-color:black;
    display:inline-block;
    margin: 25px;
  }
  .project_site_btn {
       font-family: 'Space Mono', monospace;
       letter-spacing: 1px;
       background: none;
       color: white;
       position: relative;
       outline: none;
       border: none;
       height: 50px;
       width: 190px;
       font-size: 14px;
       z-index: 2;
       transition: 0.01s 0.23s ease-out all;
       overflow: hidden;
  }
   .project_site_btn:before {
       content: '';
       position: absolute;
       left: 0;
       top: 0;
       height: 100%;
       width: 55%;
       background: #202020;
       z-index: -1;
       transition: 0.3s ease-in all;
  }
   .project_site_btn:after {
       content: '';
       position: absolute;
       left: -5%;
       top: 5%;
       height: 90%;
       width: 5%;
       background: white;
       z-index: -1;
       transition: 0.4s 0.02s ease-in all;
  }
   .project_site_btn:hover {
       cursor: pointer;
       color: transparent;
  }
   .project_site_btn:hover:before {
       left: 100%;
       width: 25%;
  }
   .project_site_btn:hover:after {
       left: 100%;
       width: 70%;
  }
   .project_site_btn:hover .project_site_btn_icon-right.after:after {
       left: -80px;
       color: white;
       transition: 0.2s 0.2s ease all;
  }
   .project_site_btn:hover .project_site_btn_icon-right.after:before {
       left: -104px;
       top: 14px;
       opacity: 0.2;
       color: white;
  }
   .project_site_btn_icon-right {
       position: absolute;
       top: 0;
       right: 0;
  }
   .project_site_btn_icon-right:after {
       font-family: "FontAwesome";
       content: '\2192';
       font-size: 24px;
       display: inline-block;
       position: relative;
       top: 26px;
       transform: translate3D(0, -50%, 0);
  }
   .project_site_btn_icon-right.after:after {
       left: -250px;
       color: black;
       transition: 0.15s 0.25s ease left, 0.5s 0.05s ease color;
  }
   .project_site_btn_icon-right.after:before {
       content: 'Site';
       position: absolute;
       left: -230px;
       top: 14px;
       opacity: 0;
       transition: 0.2s ease-in all;
  }