.footer_div{
    color: silver;
    text-align: center;
    background-color: black;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.footer_line_one{
    font-size: 28px;
    margin: 2px;
    padding: 0px;
}

.footer_line_two{
    font-size: 15px;
    margin: 2px;
    padding: 0px;
}

.footer_line_three{
    font-size: 30px;
    padding: 7px;
    color: gray;
    text-decoration: none;
}

.footer_hr{
    margin: 0px;
    border-top: 2px solid silver;
    width: 90%;
    margin-left: 5%;
}

.footer_line_four{
    text-align: left;
    padding-left: 5%;
    font-size: 15px;
}
.footer_line_three:hover{
    color: white;
}